

*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    
}
main{
    background-color: aqua;
    width: 1450px;
    height: 677px;

}
nav a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding-left: 56px;
    margin-top: 52px;
    position: relative;
    top: 52px;
}
.nav:hover{
    color:#3DBAFD;
    text-shadow: 1px 1px 2px black;
}
section.page1{
    display: flex;
    margin: 0%;
    
}
.left{
    width: 51%;
    padding-top: 190px;
    padding-left: 56px;
    font-size: 64px;
    font-weight: 500px;
    line-height: 110px;
    font-style: normal;

}
.right{
    width: 49%;
}
.right img{
    width: 556px;
    height: 438;
    padding-top: 153px;
}
.img:hover{
    transform: rotate(50deg);
    transition: transform 2s;
}
    
span{
    color:wheat;
    text-shadow: 2px 2px 4px black;
}
.button{
    text-decoration: none;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #E02C6D;
    color: white;
    border-radius: 5px;
    padding: 10px 34px;
}
.fas{
    font-size: 16px;
    color: white;
    position: relative;
    left: -40px;
    
}
.button:hover{
    background-color: lightblue;
    color: black;
}
.fas:hover {
    color: black;
}




.player{
    width: 330px;
    box-shadow: 1px 1px 2px black;
    
}
.player-img{
    width: 300px;
    height: 256px;
    padding: 15px;
    

}
.player-name{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 5px;
    font-size: 28px;
}
.player-des{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 16px;
    text-align: justify;
}

.page2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 30px;
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 70px;

}
.page3 h1{
    text-align: center;
    font-size: 60px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.page3 img{
    width: 600px;
    height: 500px;
    margin: 50px;
    border: 5px solid black;
}
.page3-img:hover{
    transform: scale(1.2, 1.2);
    border-radius: 15px;
}
.footer{
    text-align: center;
}

footer img{
    width: 484px;
    height: 110px;
    margin-top: 158px;
    
}

.fab{
    font-size: 32px;
    height: 32px;
    width: 32px;
    padding-left: 14px;
    padding-top: 20px;    
}
footer h1{
    font-size: 18px;
    padding-top: 20px;
}